*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
}

.navbar {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 77px;

}

.kevflix {
  font-family: 'Rampart One';
  -webkit-text-stroke: 0.1px #EB00FF;
  -webkit-text-fill-color: white;
  font-size:210%
}

.menu ul li a {
  color: white;
}

.choucroute {
  color: #EB00FF;
}


.kevflixx {
  border: 0.1rem solid;
  border-top-color: #EB00FF;
  border-bottom-color: #EB00FF;
}

.titre {
  color: white;
}

h4 {
  font-family: 'titillium web';

}

.bttn {
  background-color: #330C9D;
  color: white;
}

.populaire {
  display: inline-block;
  font-family: 'titillium';
  color: white;
  border: thick double;
  border: groove 0.5em #EB00FF;
  border-radius: 1em;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.social-buttons {
  display: inline-block;
  background: black;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 10px;
  box-shadow: 0px 0px 32px -7px #00199f;
}

/* Helper class to divide the icons */
.social-margin {
  margin-right: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}

.social-icon:hover {
  transform: rotate(360deg)scale(1.3);
}

/* Facebook Button Styling */
.facebook {
  font-size: 22px;
  padding-top: 9px;
  border-color: #3b5998;
  background-color: #3b5998;
  color: #ffffff;

}

.facebook:hover {
  background-color: #ffffff;
  color: #3b5998;
}

/* Twitter Button Styling */
.twitter {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 2px;
  border-color: #55acee;
  background-color: #55acee;
  color: #ffffff;

}

.twitter:hover {
  background-color: #ffffff;
  color: #55acee;
}

/* Google+ Button Styling */
.google-plus {
  font-size: 22px;
  padding-top: 9px;
  padding-left: 2px;
  background-color: #dd4b39;
  color: #ffffff;
  border-color: #dd4b39;

}

.google-plus :hover {
  background-color: #ffffff;
  color: #dd4b39;
}

/* Linkedin Button Styling */
.linkedin {
  font-size: 24px;
  padding-top: 8px;
  padding-left: 1px;
  background-color: #0976b4;
  color: #ffffff;
  border-color: #0976b4;

}

.linkedin :hover {
  background-color: #ffffff;
  color: #0976b4;
}

/* Pinterest Button Styling */
.pinterest {
  font-size: 22px;
  padding-top: 9px;
  background-color: #cb2027;
  color: #ffffff;
  border-color: #cb2027;

}

.pinterest:hover {
  background-color: #ffffff;
  color: #cb2027;
}

/* Behance Button Styling */
.behance {
  font-size: 22px;
  padding-top: 9px;
  background-color: #1769ff;
  color: #ffffff;
  border-color: #1769ff;

}

.behance :hover {
  background-color: #ffffff;
  color: #1769ff;
}

/* Github Button Styling */
.github {
  font-size: 22px;
  padding-top: 9px;
  background-color: #4183c4;
  color: #ffffff;
  border-color: #4183c4;

}

.github:hover {
  background-color: #ffffff;
  color: #4183c4;
}

/* Youtube Button Styling */
.youtube {
  font-size: 22px;
  padding-top: 9px;
  padding-left: 0px;
  background-color: #bb0000;
  color: #ffffff;
  border-color: #bb0000;

}

.youtube :hover {
  background-color: #ffffff;
  color: #bb0000;
}

/* Soundcloud Button Styling */
.soundcloud {
  font-size: 22px;
  padding-top: 9px;
  padding-left: 0px;
  background-color: #ff3a00;
  color: #ffffff;
  border-color: #ff3a00;

}

.soundcloud :hover {
  background-color: #ffffff;
  color: #ff3a00;
}

.container1 {
  display: flex;
  justify-content: center;

}

form {
  color: white;
}

.foot {
border: 0.1rem solid;
border-top-color: #EB00FF;
border-bottom-color: #EB00FF;
border-left-color: #EB00FF;
border-right-color: #EB00FF;
}




h3 {
  position: relative;
  margin-bottom: 45px;
  font-family: "Titilium", sans-serif;
  text-transform: uppercase;
  color: white;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("https://fr.web.img3.acsta.net/pictures/20/01/20/09/47/4129507.jpg");
}

.item-2 {
  background-image: url("https://www.motorsinside.com/images/photo/article/f12021/f1-drivetosurvive.jpg");
}

.item-3 {
  background-image: url("https://cdn.sortiraparis.com/images/80/98390/767358-squid-game-participez-a-une-tele-realite-inspiree-de-la-serie-pour-gagner-4-56-millions-de-dollars.jpg");
}

.item-4 {
  background-image: url("https://www.fredzone.org/wp-content/uploads/2021/12/The_Boys.jpg");
}

.item-5 {
  background-image: url("https://m.media-amazon.com/images/I/81Vh8wCigWL._AC_SL1500_.jpg");
}

.social {
  position: absolute;
  right: 35px;
  bottom: 0;
}
.social img {
  display: block;
  width: 32px;
}


















#gallery {
  display: grid;
  height: calc(100vh - 10px);
  grid-template: repeat(6, 1fr)/repeat(6, 1fr);
  grid-gap: 0.5em;
}

@media (max-width: 800px) {
  #gallery{
    display: none;
  }
}


@media (max-width: 1920px) {
  #arc{
    display: none;
  }
}

@media (max-width: 800px) {
  #arc{
    display: flex;
  }
}

/* @media (max-width: 800px) {
  #gallery {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  #gallery > div {
    width: 48%;
    margin: 1%;
  }
}
@media (max-width: 800px) and (max-width: 350px) {
  #gallery > div {
    width: 98%;
  } */
/* } */
#gallery > div:nth-child(6n+1) {
  grid-column: span 2;
  grid-row: span 2;
}
#gallery > div:nth-child(2) {
  grid-column: span 3;
  grid-row: span 3;
}
#gallery > div:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
#gallery > div > a {
  opacity: 0;
  position: absolute;
  color: #000;
  background-color: #000;
  font: bold 4em "Helvetica";
  text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff, 1px 0px 5px #fff;
  padding: 2rem;
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  transition: all ease 1s;
}
#gallery > div > img {
  width: 100%;
  min-height: 100%;
  transition: all ease 1s;
}
#gallery > div:hover img {
  filter: blur(4px);
}
#gallery > div:hover a {
  opacity: 1;
}
#gallery > div {
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
#gallery div,
#gallery a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

[id^=lightbox-] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  transition: opacity 450ms ease-in-out;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
[id^=lightbox-]:target {
  opacity: 1;
  pointer-events: inherit;
}
[id^=lightbox-]:target img {
  filter: blur(0);
}
[id^=lightbox-] .content {
  max-width: 90%;
  position: relative;
  color: #fff;
}
[id^=lightbox-] .content:hover > a.close {
  opacity: 1;
  transform: scale(1, 1);
}
[id^=lightbox-] .content:hover > .title {
  opacity: 1;
  transform: translateY(-3px);
}
[id^=lightbox-] .content:hover > .title::after {
  opacity: 1;
}
[id^=lightbox-] .content > * {
  transition: all 450ms ease-in-out;
}
[id^=lightbox-] .title {
  display: block;
  margin: 0;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);
  font-size: 1.5em;
  opacity: 0;
}
[id^=lightbox-] .title::after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 350ms ease-in-out 250ms;
  opacity: 0;
  transform-origin: bottom;
  mix-blend-mode: soft-light;
}
[id^=lightbox-] img {
  max-height: 90vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  filter: blur(50px);
}
[id^=lightbox-] a.close {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0, 0);
  opacity: 0;
  transform-origin: right top;
  text-decoration: none;
  color: #fff;
}
[id^=lightbox-] a.close::after {
  content: "X";
}






